.a {
  display: flex;
  height: 100vh;
  align-items: center;
  width:100%;
  margin:auto
}

.aLeft {
  flex: 1;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  display: flex;
}
.aRight {
  flex: 1;
}

.aCard {
  width: 60%;
  height: 70vh;

  border-radius: 30px;
  position: relative;
  overflow: hidden;
}

.aBgCard {
  width: 60%;
  height: 70vh;
  border-radius: 30px;

  position: absolute;
  top: 70px;
  left: 70px;
}

.aImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aTitle {
  font-size: 60px;
  font-weight: 400;
}

.aSocial {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 50px;
}

.aContent {
  justify-content: center;
  text-align: justify;
  padding-right: 15px;
}



@media screen and (max-width: 480px) {

  .a{
    overflow: hidden;
  }

  .aContent {
    justify-content: center;
    text-align: justify;
    padding: 15px;
 font-size: 16px;
  }

  
  .aTitle {
    padding-top: 20px;
    font-size: 25px;
    font-weight: 500;
  }

  .a {
    flex-direction: column;
    height: 100%;
    padding: 40px 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .aSocial {
    padding: 15px 3px;
  }
  .aBgCard {
    width: 100%;
    height: 50vh;
    border-radius: 30px;

    position: absolute;
    top: 15px;
    left: 15px;
  }
  .aCard {
    width: 100%;
    height: 50vh;

    border-radius: 30px;
    position: relative;
    overflow: hidden;
  }
}
