.c {
  height: 100vh;
  position: relative;
}

.cBg {
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);

  position: absolute;
  height: 100%;
  width: 50%;
  background-color: black;
}

.cWrapper {
  display: flex;
  padding: 50px;
}

.cLeft {
  flex: 1;
}

.cRight {
  flex: 1;
}

.cTitle {
  position: absolute;

  font-size: 40px;
  width: 80%;
}

.cInfo {
  top: 200px;
  height: 40%;
  position: absolute;

  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cInfoItem {
  display: flex;
  align-items: center;
  width: 70%;
  margin: 25px 0px;
}

.cIcon {
  margin-right: 20px;
}
@media screen and (max-width: 480px) {
  .cWrapper {
    flex-direction: column;
    padding: 20px 0px;
  }
  .cTitle {
    position: relative;
    width: 100%;
    font-size: 30px;
    font-weight: 500;
  }

  .cInfo {
    top: 0px;
    position: relative;
    font-size: 20px;
    display: flex;
    flex-direction: column;
  }

  .cBg {
    display: none;
  }
  .cLeft {
    padding: 10px;
  }
  .cInfoItem {
    width: 100%;
  }
}
